
<div fxFlex fxFlexOffset="20px" class="form-size">
	<h3>Send us your Feedback</h3>
	<p>{{ feedbackForm.value | json }} {{ feedbackForm.status | json }}</p>

	<form novalidate [formGroup]="feedbackForm" #fform="ngForm"
		(ngSubmit)="onSubmit()">
		<p>
			<!-- <mat-form-field class="half-width">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="feedbackForm.get('firstname').hasError('required') && feedbackForm.get('firstname').touched">First name is required</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
          <mat-error *ngIf="feedbackForm.get('lastname').hasError('required') && feedbackForm.get('lastname').touched">Last name is required</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required>
          <mat-error *ngIf="feedbackForm.get('telnum').hasError('required') && feedbackForm.get('telnum').touched">Tel. number is required</mat-error>
        </mat-form-field>
        <mat-form-field class="half-width">
          <input matInput formControlName="email" placeholder="Email" type="email" required>
          <mat-error *ngIf="feedbackForm.get('email').hasError('required') && feedbackForm.get('email').touched">Email ID is required</mat-error>
        </mat-form-field> -->
        
			<mat-form-field class="half-width"> <input matInput
				formControlName="id" placeholder="Id" type="text"
				required> <mat-error *ngIf="formErrors.id">{{formErrors.id}}</mat-error>
			</mat-form-field>
			
			<mat-form-field class="half-width"> <input matInput
				formControlName="firstname" placeholder="First Name" type="text"
				required> <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
			</mat-form-field>
			<mat-form-field class="half-width"> <input matInput
				formControlName="lastname" placeholder="Last Name" type="text"
				required> <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
			</mat-form-field>
		</p>
		<p>
			<mat-form-field class="half-width"> <input matInput
				formControlName="telnum" placeholder="Tel. Number" type="tel"
				pattern="[0-9]*" required> <mat-error
				*ngIf="formErrors.telnum">{{formErrors.telnum}}</mat-error> </mat-form-field>
			<mat-form-field class="half-width"> <input matInput
				formControlName="email" placeholder="Email" type="email" email
				required> <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>
			</mat-form-field>
		</p>
		<table class="form-size">
			<td><mat-slide-toggle formControlName="agree">May
				we contact you?</mat-slide-toggle></td>
			<td><mat-select placeholder="How?" formControlName="contacttype">
				<mat-option *ngFor="let ctype of contactType" [value]="ctype">
				{{ ctype }} </mat-option> </mat-select></td>
		</table>
		<p>
			<mat-form-field class="full-width"> <textarea
				matInput formControlName="message" placeholder="Your Feedback"
				rows=12></textarea> </mat-form-field>
		</p>
		<button type="submit" mat-button
			class="background-primary text-floral-white"
			[disabled]="feedbackForm.invalid">Submit</button>
	</form>
</div>