<div class="container" fxLayout="row wrap" fxLayout.sm="column"
	fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
	fxLayoutGap="10px" fxLayoutGap.xs="0">
	<div fxFlex="100">

		<div>
			<h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
			<hr>
		</div>
	</div>
	<div class="container" fxLayout="row" fxLayout.sm="column"
		fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
		fxLayoutGap="10px" fxLayoutGap.xs="0">

		<div fxFlex="50" [@visibility]="visibility">
			<mat-card *ngIf="dish" [@visibility]="visibility"> <mat-card-header>
			{{dish.name}} </mat-card-header>
			 <!-- <img height="100px" src={{dish.image}} alt={{dish.name}}>  -->
				<img height="100px" src="{{ BaseURL + dish.image }}"
				alt={{dish.name}}> 
				<mat-card-content>
			<p>{{dish.description}}</p>
			</mat-card-content> <mat-card-actions>
			<button mat-button [routerLink]="['/dishdetail', prev]">
				<span class="fa fa-chevron-left fa-lg"></span>
			</button>
			<!-- <button mat-button (click)="goBack()">BACK</button> -->
			<button mat-button>LIKE</button>
			<button mat-button>SHARE</button>

			<span class="flex-spacer"></span>
			<button mat-button [routerLink]="['/dishdetail', next]">
				<span class="fa fa-chevron-right fa-lg"></span>
			</button>

			</mat-card-actions> 
			<form novalidate [formGroup]="commentsForm" #fform="ngForm"
				(ngSubmit)="onSubmit()">
					<p>
					<mat-form-field class="half-width"> <input
						matInput formControlName="author" placeholder="Author Name"
						type="text" required> <mat-error
						*ngIf="commentsForm.author">{{formErrors.author}}</mat-error> </mat-form-field>
					</p>
					<p>
				
					<mat-slider 
						min="1" 
						max="5" 
						thumbLabel 
						tickInterval="1"
						formControlName="rating">
					</mat-slider>
					</p>
					<textarea matInput formControlName="comment"
						placeholder="Your comment" rows=12></textarea>

				<button type="submit" mat-button
					class="background-primary text-floral-white"
					[disabled]="commentsForm.invalid">Submit</button>
			</form>
			</mat-card>
		</div>
		<div fxFlex="50">
			<mat-card *ngIf="dish" [@visibility]="visibility"> <mat-card-header>
			{{dish.name}} Comments</mat-card-header> <mat-card-header> </mat-card-header>
			<div *ngFor="let comment of dish.comments">
				<p>{{comment.comment}}</p>
				<p>{{comment.rating}}</p>
				<p>{{comment.author | uppercase}}</p>
				<p>{{comment.date | date}}</p>
				<hr>
			</div>
			</mat-card>
			  <mat-list *ngIf="commentsForm.valid">
		        <mat-list-item>
		          <p matLine >{{commentsForm.value.comment}}</p>
		          <p matLine >{{commentsForm.value.rating}} Stars</p>
		          <p matLine>-- {{commentsForm.value.author}}</p>
		        </mat-list-item>
		      </mat-list>
			<mat-card *ngIf="commentsForm">
			<p>{{ commentsForm.author}} </p>
			</mat-card>
		</div>
			
			
		<div [hidden]="dish || errMess">
			<mat-spinner></mat-spinner>
			<h4>Loading . . . Please Wait</h4>
		</div>
		
		<div fxFlex *ngIf="errMess">
		    <h2>Error</h2>
		    <h4>{{errMess}}</h4>
		  </div>
			

	</div>
</div>